ul {
    list-style-type: none;
    background: white;
    padding: 0;
    margin: 0;

    li {
        height: 4em;
        line-height: 4em;
    }
}

.sectionHeader {
    background: $primaryColor;
    color: white;
    font-size: 4vh;
    display: flex;

    :first-child {
        flex-grow: 1;
    }
}

.subHeader {
    display: flex;
    line-height: 2vh;
    font-weight: bold;
}

.firstSubHeader { 
    width: 3vw;
    background: $darkColor20;
    color: white;
}

.secondSubHeader {
    background: $darkColor20;
    color: white;
    flex-grow: 1;
}

.dividerSubHeader {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2vh 1vw 0 0;
    border-color: $darkColor20 white transparent transparent;
    transform: scale(1.0001);
}

.rightSubHeader {
    background: white;
}