ul {
    list-style-type: none;
    background: white;
    padding: 0;
    margin: 0;

    li {
        height: 4em;
        line-height: 4em;
    }
}

.leftBox {
    margin-left: 2vw;
    margin-top: 3vh;
}

.sectionHeader {
    background: $primaryColor;
    color: white;
    font-size: 4vh;
    display: flex;
    position: relative;

    :first-child {
        flex-grow: 1;
    }

    &::after {
        border-top: 2vh solid $darkColor20;
        border-right: 2vh solid transparent;
        bottom: -2vh;
        content: '';
        display: block;
        position: absolute;
        width: 60%;
    }
}

.subHeader {
    display: flex;
    line-height: 2vh;
    font-weight: bold;
    background: white;
}

.firstSubHeader { 
    width: 3vw;
    color: white;
    z-index: 2;
}

.secondSubHeader {
    color: white;
    flex-grow: 1;
    z-index: 2;
}

.rightSubHeader {
    background: white;
}