.header {
    align-items: center;
    display: flex;
    margin-bottom: 3vh;
    width: 100%;

    &Logo {
        background: $primaryColor;
        height: 8vh;
        width: 11vw;
        padding: 1vh 1vw;
        position: relative;

        &::after {
            border-top: 3vh solid $darkColor20;
            border-right: 3vh solid transparent;
            bottom: -3vh;
            left: -1vw;
            content: '';
            display: block;
            position: absolute;
            width: 75%;
        }
    }

    &SVG {
        height: 100%;
        width: 100%;
    }

    &Txt {
        color: $lightText;
        font-size: 2em;
        font-weight: 400;
        letter-spacing: 2px;
        margin-left: 20px;
        text-transform: uppercase;
    }
}