.header {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    width: 100%;

    &Logo {
        background: $primaryColor;
        height: 9vh;
        width: 13vw;
        padding: 1vh 1vw;
        position: relative;
        box-sizing: border-box;

        &::after {
            border-top: 2vh solid $darkColor20;
            border-right: 2vh solid transparent;
            bottom: -2vh;
            content: '';
            display: block;
            position: absolute;
            width: 75%;
        }
    }

    &SVG {
        height: 100%;
        width: 100%;
    }

    &Txt {
        color: $lightText;
        font-size: 2em;
        font-weight: 400;
        letter-spacing: 2px;
        margin-left: 20px;
        text-transform: uppercase;
    }
}