.stat-box {
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 20vw;

    .stat {
        padding: 1em;
        color: white;
        display: flex;
        flex-direction: column;

        .name {
            background: #333;
            padding: 0.1em;
        }

        .value {
            background: $lightColor20;
            padding: 0.2em;
            font-size: 2em;
        }
    }
}