.stat-box {
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 20vw;

    .stat {
        padding: 1em;
        
        .name::after {
            content: ': ';
        }
    }
}